<%- include('header') -%>

<div class="colorlib-product">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
        <h2>Thêm Sản Phẩm</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <form
          id="add-product-form"
          style="max-width: 400px; margin: auto"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <label for="product-name" class="h5">Tên Sản Phẩm:</label>
            <input
              type="text"
              class="form-control"
              id="product-name"
              name="name"
              placeholder="Nhập tên sản phẩm"
            />
            <small id="productname-error"></small>
          </div>
          <div class="form-group">
            <label for="product-brand" class="h5">Thương Hiệu:</label>
            <input
              type="text"
              class="form-control"
              id="product-brand"
              name="brand"
              placeholder="Nhập tên thương hiệu"
            />
            <small id="brand-error"></small>
          </div>
          <div class="form-group">
            <label for="product-size" class="h5">Kích Cỡ:</label>
            <input
              type="text"
              class="form-control"
              id="product-size"
              name="size"
              placeholder="Nhập kích cỡ"
            />
            <small id="size-error"></small>
          </div>
          <div class="form-group">
            <label for="product-price" class="h5">Giá Tiền:</label>
            <input
              type="text"
              class="form-control"
              id="product-price"
              name="price"
              placeholder="Nhập giá tiền"
            />
            <small id="price-error"></small>
          </div>
          <div class="form-group">
            <label for="product-color" class="h5">Màu Sắc:</label>
            <input
              type="text"
              class="form-control"
              id="product-color"
              name="color"
              placeholder="Nhập màu sắc"
            />
            <small id="color-error"></small>
          </div>
          <div class="form-group">
            <label for="product-quantity" class="h5">Số Lượng:</label>
            <input
              type="text"
              class="form-control"
              id="product-quantity"
              name="quantity"
              placeholder="Nhập số lượng"
            />
            <small id="quantity-error"></small>
          </div>
          <div class="form-group">
            <label for="product-description" class="h5"
              >Miêu Tả Sản Phẩm:</label
            >
            <textarea
              class="form-control"
              id="product-description"
              name="description"
              placeholder="Nhập miêu tả sản phẩm"
            ></textarea>
            <small id="description-error"></small>
          </div>
          <div class="form-group">
            <label for="roduct-category-name" class="h5">Chọn Thể Loại:</label>
            <select
              class="form-control"
              id="product-category-name"
              name="category"
            ></select>
            <small id="categoryname-error"></small>
          </div>
          <div class="form-group">
            <label for="product-image" class="h5">Ảnh:</label>
            <input
              type="text"
              class="form-control"
              id="product-image"
              name="image"
              placeholder="Nhập link ảnh sản phẩm"
            />
            <small id="productimage-error"></small>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" id="btn-add">
              Thêm
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/javaScript/addproduct.js"></script>

<%- include('footer') -%>
