<%- include('header') -%>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>

<div class="container mt-5 border text-center">
  <h2>Thống kê</h2>
  <form action="" id="date-form">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i id="start-date-i" class="far fa-calendar-alt"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            id="startDate"
            name="startDate"
            placeholder="Chọn ngày bắt đầu"
            readonly
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            id="endDate"
            name="endDate"
            placeholder="Chọn ngày kết thúc"
            readonly
          />
          <div class="input-group-append">
            <span class="input-group-text">
              <i id="end-date-i" class="far fa-calendar-alt"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <button type="submit" class="btn btn-primary" id="showCalendarBtn">
          Chọn ngày tháng
        </button>
      </div>
    </div>
  </form>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div
        id="calendarContainer"
        class="calendar-container"
        style="display: none"
      ></div>
    </div>
  </div>
</div>
<%- include('footer') -%>

